body {
  background-color: lightblue;
  width: 900px;
  padding: 50px;
  margin: 0 auto;
}

h1 {
  color: darkblue;
  text-align: center;
  font-family: 'Modak', cursive;
}

p {
  font-family: verdana;
  font-size: 20px;
}

.header {
  color: green;
  font-size: 25px;
  width: 500px;
  height: 2500px;
  padding: 50px;
  margin: 0 auto;
}

.center {
  margin: 0 auto;
}
